.page-about {
  padding: 50px 20px;
}

.about__titles {
  max-width: 593px;
}
.about__titles h2{
  margin-bottom: 10px;
}
.about-card-item {
  width: 150px;
  height: 150px;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.about-card-item footer {
  display: flex;
  justify-content: space-between;
}

.about__card-list{
  display: flex;
  gap: 20px;
  margin-top: 40px;
}