.header{
    height: 76px;
    width: 100% ;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi {
    display: flex;
    height: 100%;
    align-items: center;
}
.navi-menu {
    display: flex;
    height: 100%;
    align-items: center;
}