* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 110%;
    height: 110%;
}
h1, h2, h3, h4, h5,h6{
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    
}

h1{
color: #5671A6;
font-weight: 600;
font-size: 36px;
}
h2{
    color: #5671A6; 
    font-size: 32px;
    font-weight: 600;

}
h3{
    color: #5671A6;
    font-size: 16px;
    font-weight: 600;
}
h4{
    color: #383838;
    font-size: 16px;
    font-weight: 600;

}
h5{
    color: #383838;
    font-size: 14px;
    font-weight: 500;

}
h6{
    color: #616161
    font-size: 12px;
    font-weight: 400;
}
p{

}
button{
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #5671A6;
    font-size: 16px;
    font-weight: 600;
    color: #5671A6;
    cursor: pointer;
    transition: 0.7s;
}
a{
}

.btndemo {
    background: none;

}

.btncont {
    background: #5671A6;
    color: white;
    
}

.btndemo:hover {
    background: #5671A6;
    color: white;
}

.btndemo:active {
    transform: scale(90%);
}

.btncont:hover {
    background:none;
    color:#5671A6;
}