.sidebar {
  width: 271px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  border-right: 1px solid #6d8096;
}
.sidebar * {
  text-align: center;
}
.sidebar p {
  text-align: center;
}
